.App {
  text-align: center;
}

nav > div.container {
  width: unset;
}

.react-monaco-editor-container {
  text-align: left;
}

#EditorAndCanvas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}
#canvasLayers {
  position: relative;
  flex: 0px
}
#turtleCanvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
#turtleOverlayCanvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
#gridCanvas {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}



.App-header {
  background-color: #222;
  text-align: left;
  /* height: 150px; */
  padding: 10px;
  color: white;
}
.App-header > h2 {
  display: inline;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
